<div class="board-selector">
    <div class="board-link button" *ngFor="let board of boards">
        <div (click)="boardSelect(board.id)">{{ board.title }}</div>
    </div>
</div>
<div class="current-board" *ngIf="selectedBoard">
    <h2>{{ selectedBoard.title }}</h2>
        <div class="container">
            <div class="list two columns" *ngFor="let list of selectedBoard.lists">
                <h4><ndv-edit [title]="'title'" [permission]="checkPermissions(perm)" [placeholder]='list.title' (onSave)='save($event, list)'></ndv-edit></h4>
                <ul>
                    <li class="card" *ngFor="let card of list.cards">
                        <!--<ndv-edit [title]="'title'" [permission]="checkPermissions(perm)" [placeholder]='card.title' (onSave)='save($event)'></ndv-edit>-->
                        {{ card.title }}
                    </li>
                    <li class="button">Add Card</li>
                </ul>
            </div>
            <div class="list two columns">
            <h4 class="button" (click)="addNewList()">Add List</h4>

            </div>
        </div>
</div>
